.chat {
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 100;

  .chat-underlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  @media screen and (max-width: 480px) {
    &.chat--open .chat-underlay {
      opacity: 1;
      visibility: visible;
    }
  }

  .chat-modal {
    width: 100vw;
    max-width: 300px;
    z-index: 25;
    position: relative;
    height: calc(100vh - 1.5em);
    max-height: 400px;
    background: #fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 -1px 4px rgba(#000, 0.1);
    overflow: hidden;

    @media screen and (max-width: 480px) {
      & {
        max-width: none;
      }
    }
  }

  .chat-nav {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #ddd;

    .chat-nav-item {
      border: none;
      border-radius: 0;
      padding: 6px 12px;
      background: transparent;
      font-size: 12px;
      text-align: center;
      transition: all 0.3s ease;
      width: 15%;

      &:first-child {
        text-align: left;
      }

      &:nth-child(2) {
        width: 70%;
      }

      &:last-child {
        text-align: right;
      }

      &:focus {
        outline: none;
      }
    }

    a,
    button {
      &:hover,
      &:focus {
        background: #f2f2f2;
      }
    }
  }
}
