@import "./../../assets/variables.scss";
.display-pic-field {

  .display-pic-field-form {
    display: flex;

    .display-pic-field-preview,
    .display-pic-field-input {
      margin: auto 0;
    }
    .display-pic-field-input {
      padding-left: 30px;
      .file-cta {
        color: $grey-dark;
      }
      .file-input {
        &:focus {
          + .file-cta {
            background: $primary-dark;
            position: relative;
            &:after {
              content: '';
              position: absolute;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              border: 2px solid $grey-dark;
              top: -1px;
              left: -1px;
            }
          }
        }
      }
    }
    .display-pic-field-preview {
      figure {
        width: 128px;
        height: 128px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1em;
        img {
          width: 100%;
        }
      }

      transition: all 0.5s ease;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
  }

  .notification {
    margin-top: 20px;
  }
}
