@import "./../../assets/variables.scss";
.myaccount {
  .myaccount-header {
    background: $primary;
    text-align: center;

    .user-picture {
      margin: 0 auto 25px auto;
    }
  }

  .user-type-field {
    padding-top: 15px;

    input {
      margin-right: 0.35em;
    }
  }
}

fieldset {
  border: none;
}

form > fieldset {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
