.instruments-field {
  .instruments-field-actions {
    margin-top: 1em;
  }
  .instrument-field-headings {
    padding-bottom: 0;
    .column {
      padding-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  .rating-text {
    display: none;
  }
}
