.home {
  .home-header {
    margin-top: 60px;
  }

  .home-icon {
    margin: 0 auto 30px auto;
  }

  .home-logo {
    width: 4rem;
    height: 4rem;
    margin: 0 auto 1.5em auto;
    display: block;
  }
}
