@import './../../assets/variables.scss';
.footer {
  width: 100%;
  z-index: 100;
  background: $primary;
  color: $grey;
  padding: 0;

  .container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
  }

  .footer-alert,
  .footer-actions,
  .footer-legal {
    // flex: 1;
  }

  .footer-alert {
    display: none;
    margin: auto;
    font-size: 12px;
    padding-left: 12px;
  }

  .footer-legal {
    text-align: center;
    margin: auto;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
  }

  .footer-actions {
    display: flex;
    display: none;

    .field {
      margin-left: auto;
    }
  }

  .button {
    background: transparent;
    border: none;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      background: #fff;
    }

    @media screen and (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
