.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .footer-brand {
    margin: auto 0;
    font-family: stag-bold;
    font-size: 120px;
    line-height: 0.8;
    span {
      display: block;
    }
  }

  .column {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-subtle{
    width: 100%;
    text-align: right;
    margin-top: auto;
  }
}
