@import "./../../assets/variables.scss";
.login {
  .login-methods {
    padding-top: 0;

    .login-methods-divider {
      margin: 3em 0;
      position: relative;


      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $grey;
      }

      span {
        position: relative;
        z-index: 2;
        background: $background;
        padding: 0 5px;
      }
    }
  }
}

.button.button--fb {
  $facebook: #4267b2;
  border: none;
  background-color: $facebook;
  color: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  width: 100%;

  &:hover,
  &:focus {
    background-color: darken($facebook, 10%);
  }

  &[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
  }
}
