/**
 * Typography
 */

/**
 * Colours
 */
$primary: #ffc03d !default;
$secondary: #006fa5 !default;
$tertiary: #00344d !default;
$quarternary: #3bbc75 !default;
$grey: #595860 !default;

$primary_dark: darken($primary, 10%) !default;
$secondary_dark: darken($secondary, 10%) !default;
$tertiary_dark: darken($tertiary, 10%) !default;
$quarternary_dark: darken($quarternary, 10%) !default;
$grey_dark: #3a3a3a !default;

$primary_light: #ffd472 !default;
$secondary_light: lighten($secondary, 10%) !default;
$tertiary_light: lighten($tertiary, 10%) !default;
$quarternary_light: lighten($quarternary, 10%) !default;
$grey_light: #efefef !default;

$primary_inverse: #fff !default;
$secondary_inverse: #fff !default;
$tertiary_inverse: #fff !default;
$quarternary_inverse: #fff !default;
$grey_inverse: #fff !default;
$grey_light_inverse: $grey-dark !default;
$grey_dark_inverse: #fff !default;

/**
 * Formatting & Structure
 */
$spacing: 1.3rem !default;
$spacing_lg: 2 * $spacing !default;
$spacing_md: 1.5 * $spacing !default;
$spacing_sm: 0.5 * $spacing !default;
$spacing_xs: 0.3 * $spacing !default;

$radius: 4px !default;
$radius_lg: 6px !default;

$break_sm: 768px !default;
$break_md: 998px !default;
$break_lg: 1200px !default;

$mobile: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (max-width: 1200px)";

$container: 1100px !default;
$container_sm: 700px !default;

$background: $grey-light !default;
